@import "tailwindcss";

/* Apply the font globally */
body {
  font-family: 'Roboto', sans-serif;
}
body::-webkit-scrollbar {
  width: 0px;
}

.scrollbarStyle::-webkit-scrollbar {
  width: 6px;
}
.scrollbarStyle::-webkit-scrollbar-track {
  background: #d9d9d9;
  border-radius: 10px;
}

.scrollbarStyle::-webkit-scrollbar-thumb {
  background: #808080;
  border-radius: 50px;
  //border: 1px solid #ffffff;
}

.scrollbarStyle::-webkit-scrollbar-thumb:hover {
  background: #595959;
}

.scrollbarStylex::-webkit-scrollbar {
  height: 6px;
}
.scrollbarStylex::-webkit-scrollbar-track {
  background: #d9d9d9;
  border-radius: 10px;
}

.scrollbarStylex::-webkit-scrollbar-thumb {
  background: #808080;
  border-radius: 50px;
  //border: 1px solid #ffffff;
}

.scrollbarStylex::-webkit-scrollbar-thumb:hover {
  background: #595959;
}


@keyframes spin {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}