@import "tailwindcss";




/* Apply the font globally */
body {
  font-family: 'Roboto', sans-serif;
}
body::-webkit-scrollbar {
  width: 0px;
}

.scrollbarStyle::-webkit-scrollbar {
  width: 6px;
}
.scrollbarStyle::-webkit-scrollbar-track {
  background: #d9d9d9;
  border-radius: 10px;
}

.scrollbarStyle::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 50px;
}

.scrollbarStyle::-webkit-scrollbar-thumb:hover {
  background: #595959;
}

.scrollbarStylex::-webkit-scrollbar {
  height: 6px;
}
.scrollbarStylex::-webkit-scrollbar-track {
  background: #d9d9d9;
  border-radius: 10px;
}

.scrollbarStylex::-webkit-scrollbar-thumb {
  background: #808080;
  border-radius: 50px;
}

.scrollbarStylex::-webkit-scrollbar-thumb:hover {
  background: #595959;
}


@keyframes spin {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}
.razor {
  animation: razorSpin 2s linear infinite;
}
.razorRight {
  animation: razorRightSpin 2s linear infinite;
  
}
.razorSidebar {
  animation: razorSidebarSpin 2s linear infinite;
}

@keyframes razorSpin {
  0% {
    transform: rotateY(0deg)
  }
  100% {
    transform: rotateY(360deg)
  }
}
@keyframes razorRightSpin {
  0% {
    transform: rotateY(0deg)
  }
  100% {
    transform: rotateY(360deg)
  }
}
@keyframes razorSidebarSpin {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}


.product-description {
  line-height: 1.6;
}

.product-description p {
  margin-bottom: 10px;
  color: #333;
}

.product-description strong {
  font-weight: 500;
}

.product-description h3 {
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 0.75rem;
  color: #1f2937;
}

.product-description ol {
  margin-left: 10px;
  margin-bottom: 10px;
  list-style-type: decimal;
  list-style-position: outside;
}

.product-description ul {
  margin-left: 10px;
  margin-bottom: 10px;
  list-style-type: disc;
  list-style-position: outside;
}

.product-description li {
  margin-bottom: 0.5rem;
  color: #333;
  margin-left: 0.5rem;
}

.highlight {
  background-color: #fff3cd; 
  transition: background-color 1s ease;
}