.clock {
  background: url("https://img.mobilestyles.com/images/blog_posts/1805/in_content/16788728335403.png");
  background-postion: center;
  width: 110px;
  height: 110px;
  border: 6px solid black;
  border-radius: 50%;
  position: relative;
  margin: 10px;
  color: white;
}
.digits {
  position: absolute;
  width: 100%;
  height: 100%;
}

.digit {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

.digit span {
  position: absolute;
  top: 0px; 
  left: 50%;
  transform: translateX(-50%);
  font-size: 8px;
  font-weight: bold;
}
.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
  transform: translateX(-50%);
}
.hour {
  width: 4px;
  height: 40px;
  background: white;
  
}

.minute {
  width: 3px;
  height: 45px;
  background: white;
}

.second {
  width: 2px;
  height: 45px;
  background: red;
}
.center-dot {
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 51%;
  transform: translate(-50%, -50%);
}