.login {
    background-image: url("https://t4.ftcdn.net/jpg/03/29/64/07/360_F_329640738_E1pDlWorkUJI2cKc4sAyVMAUcPfSHUtL.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.login::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(13, 12, 12, 0.6); 
    z-index: 1;
}